/* Navbar button hover */
nav button:hover {
  background-color: #743deb;
}

nav button:hover i {
  background-color: #fff;
  color: #743deb;
}

/* Solid-rounded hover */
.solid-rounded:hover i {
  color: #000724;
}

.solid-rounded:hover {
  border: 1px solid #09c4e9;
}

.solid-rounded:hover button {
  background-color: #09c4e9;
}

/* Price card hover */
.price-card:hover {
  border: 1px solid #09c4e9;
}

/* Price button hover */
.price button:hover {
  background-color: #743deb;
}

.price button:hover i {
  background-color: #fff;
  color: #743deb;
}

/* Navbar link hover */
nav a:hover {
  color: #743deb;
  text-decoration: underline;
}
